@tailwind base;
@tailwind components;
@tailwind utilities;


@theme inline {
  --font-bebas: var(--font-bebas);
  --font-barlow: var(--font-barlow);
  --font-ibm-mono: var(--font-ibm-mono);
}


:root {
  --color-bg: #1a1816;
  --color-bg-light: #242220;
  --color-surface: #2a2826;
  --color-border: #3a3836;
  --color-border-light: #a1d6be;
  --color-text: #d4cfc8;
  --color-text-muted: #a1d6be;
  --color-accent: #c8b89a;
  --color-accent-dim: #9a8e78;
  --color-white: #f0ece6;
  --color-black: #0e0d0c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: black;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
